<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit homestay</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        input, select {
            width: 100%;
        }
    </style>
</head>
<body>
<form action="" method="post">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2><b>Sửa Country</b></h2>
            </div>
            <div class="col-7">
            </div>
        </div>
        <div class="row">
            <div class="col-3">tên:</div>
            <div class="col-4"><input type="text" name="name" value="{name}"></div>
        </div>
        <div class="row">
            <div class="col-3">quốc gia:</div>
            <div class="col-4"><select name="city">
                {city}
            </select></div>
        </div>
        <div class="row">
            <div class="col-3">diện tích:</div>
            <div class="col-4"><input type="text" name="bedroom" value="{bedroom}"></div>
        </div>
        <div class="row">
            <div class="col-3">dân số:</div>
            <div class="col-4"><input type="text" name="wc" value="{wc}"></div>
        </div>
        <div class="row">
            <div class="col-3">GDP:</div>
            <div class="col-4"><input type="text" name="price" value="{price}"></div>
        </div>
        <div class="row">
            <div class="col-3">Giới thiệu</div>
            <div class="col-4"><textarea style="width: 100%">{aaa}</textarea></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-4">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 ">
                        <button class="btn btn-primary" type="submit">lưu</button>
                    </div>
                    <div class="col-4 "><a class="btn btn-secondary" href="/home">thoát</a></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
</body>
</html>